<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yasheth.sportsandculturalhub1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Sports And Cultural HUB"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar.Fullscreen">

        <activity android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".Login"
            android:theme="@style/AppTheme"
            android:label=""
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SignUp"
            android:label="Sign Up!"
            android:parentActivityName=".Login"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="yasheth.sportsandculturalhub1.Login" />
        </activity>
        <activity
            android:name=".S_News"
            android:label="@string/title_activity_s__news"
            android:parentActivityName=".Login"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".S_Query"
            android:label="Query"
            android:parentActivityName=".S_News"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="yasheth.sportsandculturalhub1.S_News" />
        </activity>

        <activity
            android:name=".S_Sports"
            android:label="@string/title_activity_s__sports"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".S_Cultural"
            android:label="@string/title_activity_s__cultural"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".S_Sports_Indi"
            android:label="Sport Details"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".S_Cultural_Indi"
            android:label="Activity Details"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".T_Sports"
            android:label="@string/title_activity_t__sports"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".T_Cultural"
            android:label="@string/title_activity_t__cultural"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".T_Sports_Indi"
            android:label="Sport Actions"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".T_Cultural_Indi"
            android:label="Activity Actions"
            android:theme="@style/AppTheme">
        </activity>

        <activity android:name=".Announcement"
            android:label="Make Announcement"
            android:theme="@style/AppTheme"/>

        <activity android:name=".Email"
            android:label="Push Email to Registered Students"
            android:theme="@style/AppTheme"/>

    </application>

</manifest>
